**<center><font color='#023F7C' size="6.5">Python Crash Course &#128187;</font>** <br>
<font color=#023F7C size=4>**Hi! PARIS DataBootcamp**</font> <br>

</center>

<img src = https://www.hi-paris.fr/wp-content/uploads/2020/09/logo-hi-paris-retina.png width = "300" height = "200" >

<font color="#023F7C">**Author**:</font> LaurÃ¨ne DAVID, Machine Learning Research Engineer @ Hi! PARIS

# **<font color=#023F7C>Introduction </font>**

The **Hi! PARIS DataBootcamp** ðŸš€ is a one-week program where you will learn the fundamentals of AI and Data Science. <br> During the week, you will get to work on and deliver a **Data Science project** from a real business use case. <br> Because of this, the bootcamp requieres some knowledge in **Python programming**.

This pre-bootcamp course was created for those who might need help with Python before the event. <br> **You don't have to complete this course if you already know how to code in Python**

**<font size='4'>What is Python ?**</font> <br>
Created in the early 1990's, **Python** is one of the most popular and fastest growing programming languages in the world. <br>
It is used today for many tasks including Web Development, Scientific Computing and Data Analysis.

Python has also become the go-to language for **Machine Learning and AI applications**. <br> It is often used by companies and researchers working in the field of Data Science.



<br>

<img src = https://i0.wp.com/idsc.miami.edu/wp-content/uploads/2021/11/Python-image-with-logo-730x350-1.jpg width = "600" height = "300" >

**<font size='4'>More about Python**</font> <br>
Python has many features that has contributed to its popularity.
- **Easy to learn**: Python is an easy programming language to learn with its simple syntax and beginner-friendly data structures.

- **Open source**: Python is an open-source programming language where anyone can create and contribute to its development. <br> It is also free to download and can be used in any operating system (Windows, Mac or Linux).

- **Extensive libraries** : Python has an extensive amount of libraries in Data Science, Machine Learning and Data analytics. <br> Some of its most famous libraries include [numpy](https://numpy.org/), [matplotlib](https://matplotlib.org/), [pandas](https://pandas.pydata.org/) and [scikit-learn](https://scikit-learn.org/stable/).

**<font size='4'>Need help ?**</font> <br>
This course was designed to run on Google Colaboratory. <br>
- Make sure the **Python environment** is connected/active
- Use **MAJ + ENTER** as a shortcut to execute cells

If you need more help using the platform, we have provided a tutorial on Google colab in *Google_colab_tutorial.pdf*.<br>
You can contact us directly at data-event@hi-paris.fr if you have more questions about Colab or the course.

# **<font color=#023F7C>1. Variables &#128161;</font>**
A **variable** is a name that represents a memory location where an object is stored. <br>
It allows you to save information that can be reused later on.

**<font size='4'>Variable assignement**</font> <br>
Variables are created using an equal sign `=`. <br>
They also requiere a **variable name**.

In [ ]:
a = 2758
b = 32.5

> **Note**: It is best to avoid creating variables with already defined names in Python. <br>
This includes naming your variable as a built-in type (*int*, *float*,..) or function (*print*,..).

You can also **create multiple variables** on the same line of code.

In [ ]:
c, d, e = 10, 11, 12

**<font size='4'>Print variables**</font> <br>
In python notebooks, you can print a variable by simply naming it. <br> This only works if the variable is the last element of your cell.

In [ ]:
a

2758

You can also use the `print()` function to access a variable's current value.<br>

In [ ]:
print(a)

2758

In [ ]:
print("Value of a:",a)

Value of a: 2758

# **<font color=#023F7C>2. Data types  &#128292;<font color=#023F7C>**

Python provides many built-in data types to create numerical, text or collection type objects.<br>
This next section will introduce the most important ones.

## **<font color=#023F7C>2.1 Numerical types</font>**

**<font size='4'>Numerical types**</font> <br>
Python's has three different numerical types
- <u>Integers</u> (`int`): integer numbers such as 0,1,2,...
- <u>Floating point numbers</u> (`float`): numbers with decimal points
- <u>Complex numbers</u>

We will only focus on `int` and `float` variables today.

In [ ]:
num1 = 10 # int variable
type(num1)

int

In [ ]:
num2 = 10.0 # float variable
type(num2)

float

**<font size='4'>Mathematical operations on numerical types**</font> <br>
You can use mathematical operators on numerical variables. <br>
Here is a list of these operators:
- `+` : Addition
- `-` : Substraction
- `*` : Multiplication
- `/` : Division
- `%` : Modulus (returns the reminder of a division)
- `**` : Exponent
- `//`: Integer/floor division (returns the integer quotient of a division)

In [ ]:
a = 5
b = 3

In [ ]:
# Addition
a + b

8

In [ ]:
# Power
a**2

25

In [ ]:
# Division
a / b

1.6666666666666667

## **<font color=#023F7C>2.2 Strings</font>**

**Strings** are python's data type for dealing with text. <br>
They can be defined with single `''` or double `""` quotation marks.

In [ ]:
text1 = "Hello World"  # string
text2 = 'Hello World'

**<font size='4'>Slice a string**</font> <br>
Strings are sequences, which are <u>ordered collections of objects</u> in Python. <br>
Each element of a string can be accessed/sliced using a positional index. <br>

You can slice a string with different methods:
-  Select a character with a <u>single index</u>.
- Select more than one character with a <u>range of indexes</u>.
- Start slicing from the end with <u>negative indexing</u>

> **Note**: Positional indexing starts at 0 in Python !

In [ ]:
text = "I am writing a sentence in Python"

In [ ]:
# Single index to select the first element
text1[0]

'H'

In [ ]:
# Range of indexes
text1[0:5]

'Hello'

>  Slicing a string with a range `a:b` will stop the range at `b-1`. <br> You can see an example of this with `text[0:5]`that selects the first 4 elements of the string

**<font size='4'>String methods**</font> <br>
Python has many useful <u>methods</u> to manipulate strings such as: <br>
- `.upper()`: convert a string into uppercase
- `.replace()`: replace a specific character of a string
- `.split()`: splits a string at the specific seperator and returns each elements as a list

In [ ]:
text5 = "My name is John"

In [ ]:
# Replace "John" with "James" with .replace()
text5.replace('John','James')

'My name is James'

In [ ]:
# Split the text using an empty espace " " as separator
text5.split(" ")

['My', 'name', 'is', 'John']

You can also use python <u>functions</u> to manipulate strings. <br> An example is the `len()` function that returns the length of a string (its number of characters)

In [ ]:
# Return the length of the string
len(text5)

15

Methods and functions are both used to perform operations but they have key differences: <br>         

- **Methods** are dependent to a specific type of object. <br> They are used on objects using the dot notation.

- **Functions** can be used on different types of objects. <br> They are called with their given name along with the required arguments.

## **<font color=#023F7C>2.3 Lists</font>**

Lists are data types that store collections of data. <br>
They are defined using <u>brackets</u> `[]`.

In [ ]:
list1 = [2,4,1]

Lists can also contain other lists. <br> These types of list are called <u>nested lists</u>.

In [ ]:
list2 = [2, 4.1, "hello"] # List with different data types

In [ ]:
list3 = [[1,2,3],[8,2,4]] # Nested list

**<font size='4'>Slice a list**</font> <br>
Lists are also <u>sequences</u> in Python. <br>
List items are thus ordered and can be sliced/accessed using positional indexes.

In [ ]:
list1[0] # slice with a single index

2

In [ ]:
list1[:2] # Slice with a range of indexes

[2, 4]

In [ ]:
list1[-1] # Negative indexing

1

**<font size='4'>Modify a list**</font> <br>
Lists are <u>mutable objects</u> in Python. <br>
You can modify the items of a list with positional indexing.

> **Note**: An object is considered **mutable** if it can be modified after assignement/creation. <br> This isn't the case for immutable objects such as numerical types and strings.

In [ ]:
list1 # original list

[2, 4, 1]

In [ ]:
list1[0] = 4

In [ ]:
list1 # modified list

[4, 4, 1]

**<font size='4'>List methods**</font> <br>
Python possess many list specific methods, such as:

- `.append()`: add a new element to the list
- `.count()`: return the number of elements with the specified value
- `.index()`: return the index of the first element with the specified value
- `.copy()`: return a copy of the list

You can find a list of every string methods available in Python [here](https://www.w3schools.com/python/python_ref_list.asp).



> **Reminder**: Methods are specific to data types, which means that the previous methods can only be used on lists.

In [ ]:
list1

[4, 4, 1]

In [ ]:
list1.append(5)
list1

[4, 4, 1, 5]

Some methods can operate on the list itself. <br>
The `.sort()` method sorts a python list and saves the result within the list. It doesn't return a new object.

In [ ]:
list_sort = [3,7,1]

In [ ]:
list_sort.sort() # replaced the original list with the sorted list
list_sort

[1, 3, 7]

## **<font color=#023F7C>2.4 Sets and Dictionaries</font>**
**<font size='4'>Sets**</font> <br>
A set is a collection of objects which is <u>unordered</u>, <u>unchangeable</u>, and <u>unindexed</u>. <br>
Sets are defined using braces `{}` or with the `set()` function
- `{}` are used to create sets with non-collection type objects (int, float, string...)
- `set()` is used to create a set from collection type objects (lists,...)

In [ ]:
set1 = {1,4,2}
set2 = set([1,2,3])
set3 = {1,"1","2"}

Elements of a set are <u>unique</u>. <br>
Sets can be used to extract the unique elements of a list.

In [ ]:
set([1,1,2,2,2,3])

{1, 2, 3}

**<font size='4'>Dictionaries**</font> <br>
Dictionaries are built-in Python data types that stores a **collection of data**. <br> They are defined using braces `{}` and contain **keys** and **values**. <br>


In dictionaries, each value is identified by a key (of string type). <br>

In [ ]:
mydict = {
  "brand": "Ford", # <key>: <value>
  "model": "Mustang",
  "year": 1964
}

In [ ]:
mydict["brand"] # "brand" = key, "Ford" = value

'Ford'

You can use `.keys()` and `.values()` to access a dictionary's **keys** and **values**. <br>

In [ ]:
mydict.keys() # access dict keys

dict_keys(['brand', 'model', 'year'])

In [ ]:
mydict.values() # access dict keys

dict_values(['Ford', 'Mustang', 1964])

You can also use `items()` to access the key/value combination in a dictionary.

In [ ]:
mydict.items() # access dict items (key,value)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In `mydict.items()`, the dictionary's keys and values are represented as python tuples. <br> We won't cover this type of object in this course.

# **<font color=#023F7C>3. Conditional statements &#10067;</font>**

Conditional statements allow you to automate decision making in Python. <br> They can also help you control the flow of your program. <br>

## **<font color=#023F7C>3.1 Built-in operators</font>**

Conditional statements are often created with the help of operators. <br>
They allow you to create test statements for decision making.

Each of the following operator returns a **boolean** type object (`True` or `False`). <br>


**<font size='4'>Comparison operators**</font> <br>
Python has built-in operators that can compare two variables.

| Operator  | Description |
|-----------|-------------|
| `==` | Test for equality |  
| `!=` | Test for inequality  |
| `<` | Test if a number is less than |
| `<=` | Test if a number is less than or equal to |
| `>` | Test if a number is greater than |
| `>=` | Test if a number is greater than or equal to |

In [ ]:
a1, b1 = 10, 11

In [ ]:
a1 == b1

False

In [ ]:
a1 <= b1

True

**<font size='4'>Logical operators**</font> <br>
You can also test multiple statements using logical operators.

| Operator | Description |
|----------|-------------|
| `and` | Returns True if both statements are true
| `or` | Returns True if only one statement is true
| `not` | Reverses the result of a statement

In [ ]:
(a1 < b1) and (a1 == b1)

False

In [ ]:
not(a1 < b1) # a1 < b1 is True

False

**<font size='4'>Identity operators**</font> <br>
Identity operators test if two variables have the same memory location and type. <br>

| Operator | Description |
|----------|-------------|
| `is` | Test if two variables have the same identity <br> (same memory location and type) |
| `is not` | Test that two variables don't have the same identity |

In [ ]:
a2, b2 = 10, 10.0

In [ ]:
b2 is a2 # False since a2 and b2 don't have the same dtype

False

Identity operators are different from the equal `=` and not equal `!=` operators since they check for equality/inequality but also check if both variables have or not the same data type.

In [ ]:
b2 == a2 # True since they are mathematically equal, even if they don't have the same type.

True

**<font size='4'>Membership operators**</font> <br>
Membership operators test if an object is present in a sequence. <br>

| Operator | Description |
|----------|-------------|
| `in` | Test if a object is present in a sequence |
| `not in` | Test that an object is not in a sequence |

In [ ]:
a3 = [1,2,3]

In [ ]:
1 in a3 # True since 1 is in a3

True

In [ ]:
4 not in a3 # False since 4 isn't part of a3

True

## **<font color=#023F7C>3.2 If, else and elif</font>**

**<font size='4'>If statement**</font> <br>
The `if` statement evaluates a statement and executes code inside of its body based on the condition's validity. <br>
```
if <test statement>:
  # block of code
```
The block of code in if will be executed if the test statement is `True`. <br>
The block of code in if will be skipped if the test statement is `False`.

Here are examples of if statements with the operators detailed in the last section.

In [ ]:
a4, b4 = 1, 1.5

In [ ]:
if a4 <= b4: # True statement
  print("The condition is True")

The condition is True

In [ ]:
if (a4 == b4) or (a4 > b4): # False statement
  print("The condition is True")

**<font size='4'>If-else statement**</font> <br>
An `if-else` statement adds onto the if statement by providing an alternative instruction/code to execute.


```
if condition:
  # block of code
else:
  # block of code
```

Here are some examples:

In [ ]:
if a4 <= b4: # True statement
  print("if statement")
else:
  print("else statement")

if statement

In [ ]:
if a4 == b4: # False statement
  print("if statement")
else:
  print("else statement")

else statement

**<font size='4'>If-elif-else statement**</font> <br>
An `if-elif-else` statement is used when your code needs to **make decisions between multiple statements**. <br>
They allow you to add another statement to be tested before an `else` statement.

<figure><img src = https://www.programiz.com/sites/tutorial2program/files/python-elif.png width = "600" height = "300" ></figure>

In [ ]:
a5 = 10
b5 = 20

In [ ]:
if a5 > b5: # False
  print("if statement")

elif a5 < b5: # True => execute elif statement
  print("elif statement")

else:
  print("else statement")

elif statement

# **<font color=#023F7C>4. Loops &#10160;</font>**

Loops allow you to repeatedly execute a block of code. <br> They enable coding efficiency since they help you avoid writing the same code multiple times.

## **<font color=#023F7C>4.1 For loops</font>**

For-loops are used to **repeat code a fixed number of times**.</u> <br>
They can only be used on iterable objects (an object you can interate over).<br>

Examples of iterables are lists, dictionaries and strings.

In [ ]:
for i in [1,2,3,4,5]: # [1,2,3,4,5] is an iterable object
  print(i)

1
2
3
4
5

**<font size='4'>For-loops with range()**</font> <br>
The `range(start,stop,step)` function creates a range of integers you can iterate on. <br>
- `start`: start of the range, default at 0.
- `stop` : end the range.
- `step`: step of the range, default at 1.

You can use range to iterate over the indexes of an object.

In [ ]:
list_range = [1,2,3,4,5]

In [ ]:
for i in range(0,len(list_range)):
  print(list_range[i])

1
2
3
4
5

**<font size='4'>For-loops with .append()**</font> <br>
The .`append()` method is commonly used with for-loops. <br> It allows you to store iteratively computations into a list.

In [ ]:
empty_list = []
for i in list_range:
  empty_list.append(i**2)

In [ ]:
empty_list

[1, 4, 9, 16, 25]

In this example, we created an empty list then added elements to it with `.append()` and for-loop.

**<font size='4'>Nested loops**</font> <br>
Nested loops are for-loops that contain other for-loops. <br>
They can be helpful to parse through objects with different levels of indexes (such as nested lists).

In [ ]:
nested_list = [[1,2,3],[4,5,6]]

In [ ]:
for l in nested_list:
  for i in l:
    print(l,i)

[1, 2, 3] 1
[1, 2, 3] 2
[1, 2, 3] 3
[4, 5, 6] 4
[4, 5, 6] 5
[4, 5, 6] 6

## **<font color=#023F7C>4.2 While loops</font>**

While-loops are used to execute a block of statements repeatedly **until a given condition is satisfied**. <br>
Python exits a while-loop once the tested condition becomes `False`. <br>

In [ ]:
count = 0
while (count < 5):
  count = count + 1

In [ ]:
count

5

While-loops can create <u>infinite loops</u> if the tested condition is always `True`. <br>
This next example would produce an infinite loop if implemented since `num > 10` never returns `False`. <br>


```
num = 50
while num > 10: # always TRUE
  print("continue")
```

> We would encourage you to use for-loops instead of while-loops when its possible. <br> While-loops are essential statements in Python but can be difficult to manage for beginners.

# **<font color=#023F7C>5. Functions ðŸ”¨</font>**
A function is a **sequence of statements that performs an operation**.<br>

We have already introduced many of Python's built-in functions, such as `print()`, `len()` or `type()`. <br>
We will now show you how to access to even more with Python's Standard Library and custom functions. <br>

## **<font color=#023F7C>5.1 Standard Library</font>**

The **Standard Library** is a collection of built-in modules accessible to a Python program. <br>
Each module contain functions that can be imported into your code. <br>

To import a module, you need to use the `import` keyword.

In [ ]:
import math

In [ ]:
math.exp(0) # exponential function

1.0

**Math** is a module that contains additional math functions and constants.

You can import a specific function by adding `from`.

In [ ]:
from math import sqrt

In [ ]:
sqrt(25)

5.0

You can also import open-source librairies into Python. <br>
You will learn more about open-source libraries in the **Data Science Crash course**.

## **<font color=#023F7C>5.2 Custom functions</font>**

A **custom function** is a block of code that only runs when called. <br>

- It includes a <u>function name</u>, <u>input arguments</u>, an indented <u>function body</u> and a <u>return</u> value. <br>
- Custom function are created using the `def` statement.

<br>

<img src = https://www.learnbyexample.org/wp-content/uploads/python/Python-Function-Syntax.png width = "600" height = "300" >

<br>

Custom functions are useful since they allow parts of your code to be reusable. <br>They can also help you organize your code into manageable pieces.

**<font size='4'>Examples**</font> <br>
The `add_elements()` function sums two given numbers. <br>

In [ ]:
def add_elements(x,y):
  add = x + y
  return add

In [ ]:
add_elements(x=10,y=10)

20

The `sum_list()` function sums each element of a list of integers.

In [ ]:
def sum_list(list1):
  sum_ = 0
  for x in list1: # add the value's of the list at each iteration
    sum_ = sum_ + x
  return sum_

In [ ]:
sum_list(list1=[10,10,10,10])

40

**<font size='4'>Return statement**</font> <br>
You can **return** more than one object in a function. <br>
Each returned object can be saved in a separate variable.

In [ ]:
def compute_squares(x):
  s1 = x**2
  s2 = x**3
  s3 = x**4
  return s1, s2, s3 # return three variables

In [ ]:
s1, s2, s3 = compute_squares(10)

In [ ]:
print(s1)
print(s2)
print(s3)

100
1000
10000

**<font size='4'>Default arguments**</font> <br>
Default arguments allow you to specify default values for function arguments. <br>

Arguments with a default value can be omitted when calling a function. <br>
The function will use the argument's default values instead.

In [ ]:
def add_elements(x,y=5): # default value of y is 5
  add = x + y
  return add

In [ ]:
add_elements(x=5)

10

**<font size='4'>Lambda functions**</font> <br>
Lambda functions are functions defined on in a single line of code. <br>
- These functions are defined anonymously using the `lambda` keyword. <br>
- They also requiere <u>input arguments</u> and an <u>expression</u> to be returned.

<img src = https://miro.medium.com/v2/resize:fit:1200/0*4eRr7IZ3sP2ZAE8H.png width = "600" height = "300" >


Functions with a single return expression can easily be converted into lambda functions. <br>
Here is an example with the `add_elements()` function defined earlier.

In [ ]:
add_elements_v2 = lambda x,y: x + y # x and y are the inputs

In [ ]:
# Returns the same result
print(add_elements(10,10))
print(add_elements_v2(10,10))

20
20

# <font color=#023F7C>**6. Types of errors** âŒ <font color=#023F7C>

A Python program terminates as soon as it encounters an error. <br>
Here are a few types of errors you might encounter:


**NameError** <br>
`NameError` is raised when an object cannot be found by Python.  <br> This error usually appears when you call a variable that doesn't exist in your code.

In [ ]:
myvariable # variable doesn't exist in the notebook

NameError: ignored

**ZeroDivisionError** <br>
`ZeroDivisionError` is raised when you try to divide a number by 0

In [ ]:
20/0

**IndexError** <br>
`IndexError` is raised when you try to access an element with an invalid index.

In [ ]:
error_list = ["a","b","c","d"]
error_list[4] # index 4 doesn't exist since the range stops at 3

**ValueError** <br>
`ValueError` is raised when a function gets an argument of improper value but correct type

In [ ]:
float("text") # cannot convert text into a decimal point number

You can find [here](https://www.tutorialsteacher.com/python/error-types-in-python) a full list of Python errors.

Don't hesitate to search Python error on google if your code doesn't work. <br>
Websites such as [Stackoverflow](https://stackoverflow.com/) host forums where people can request help for their code and get potential solutions.

# **<font color=#023F7C>7. Exercises &#128221;</font>**

Here are now some exercices to **test your Python coding skills.** <br>

We have added indications to help you in case you are stuck. <br>
You can also find solutions to the exercises at the end of the notebook.

**<font size='4'><u>Exercise 1 &#128221;**</u></font> <br>
**Compute the sum of the following numbers.** <br>

In [ ]:
var1_ex1 = "6"
var2_ex1 = "10"
var3_ex1 = "21"

**Expected result** &#9989;


```
37
```

**<font size='4'><u>Exercise 2</u> &#128221;**</font> <br>
**Print the lowest and highest number of a list of integers.** <br>
*You can use a Python function that sort lists.*

In [ ]:
list_ex2 = [18,3,10,45,12]

**Expected result** &#9989;


```
3
45
```

**<font size='4'><u>Exercise 3</u> &#128221;**</font> <br>
**Write a statement that goes through a list of integers and prints**:  
- "Positive" if the number is positive
- "Zero" if the number is 0
- "Negative" if the number is negative

In [ ]:
list_ex3 = [-3,-2,-1,0,1,2]

**Expected result** &#9989;


```
Negative
Negative
Negative
Zero
Positive
Positive
```

**<font size='4'><u>Exercise 4</u> &#128221;**</font> <br>
**Write a statement that prints the odd numbers of a list.** <br>
*You can use the mathematical `%` operator to check if a number is even or odd.*

In [ ]:
list_ex4 = [1,3,6,7,9,12]

**Expected result** &#9989;


```
1
3
7
9
```

**<font size='4'><u>Exercise 5</u> &#128221;**</font> <br>
**Write a function that computes the average value of a list.** <br>
*You can use the `sum()` operator to compute the sum of a list*

In [ ]:
list_ex5 = [5,10,15,20,25,30]

**Expected result** &#9989; <br>


```
17.5
```

**<font size='4'><u>Exercice 6</u> &#128221;**</font> <br>
**Write a statement that multiplies by ten each element of a list.** <br>

*You can use the `.append()` method with a for-loop to write this statement.* <br>
*Go to section 4.1 on For-loops for an example.*

In [ ]:
list_ex6 = [10,100,1000,10000,100000]

**Expected result** &#9989;


```
[100, 1000, 10000, 100000, 1000000]
```

**<font size='4'><u>Exercise 7</u> &#128221;**</font> <br>
**Write a function that normalizes an array/list of integers.** <br>

*The formula to normalize an array $X$ is:* $X_{normalized} = \frac{X-X_{min}}{X_{max}-X_{min}}$ <br>
*You can use the `min()` and `max()` functions.*

In [ ]:
list_ex7 = list(range(10,100,10))
list_ex7

[10, 20, 30, 40, 50, 60, 70, 80, 90]

**Expected result** &#9989; <br>


```
[0.0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1.0]
```

**<font size='4'><u>Exercise 8** &#128221;</u></font> <br>
**Write a function that returns the length of each word in a text.** <br>
*You can split a text into a list of words with `.split()`*.

In [ ]:
list_ex8 = "I'm learning how to code in Python"
list_ex8.split()

["I'm", 'learning', 'how', 'to', 'code', 'in', 'Python']

**Expected result** &#9989;


```
[3, 8, 3, 2, 4, 2, 6]
```

**<font size='4'><u>Exercise 9</u>** &#128221;</font> <br>
**Write a function that returns the frequency (in percentage) of 0 and 1 in a list.** <br>

*You can use the `collections.Counter()` function, which returns a dictionary type object.* <br> *The `collections` module is part of Python's standard library.*<br>

*You can also try to write a function without using an imported library.*

In [ ]:
import collections

In [ ]:
list_ex9 = [0,0,0,0,1,1,0,0,0,0,1,1,1,1,1,1,0,0,0,0,0]

**Expected result** &#9989;


```
62
38
```

Here are some additional ressources with exercices in Python:
- **PracticePython**: https://www.practicepython.org/
- **Pynative**: https://pynative.com/python-exercises-with-solutions/
- **CodeWars**: https://www.codewars.com/

# **<font color=#023F7C>8. Solutions</font>** âœ”ï¸

In this section, we provide solutions for the courses' exercices. <br>
There might be other possible solutions we haven't mentioned here.

**<font size='4'>Exercise 1**</font> <br>
Compute the sum of the following variables. <br>

In [ ]:
# You have to convert the string variables to int/float
int(var1_ex1) + int(var2_ex1) + int(var3_ex1)

37

**<font size='4'>Exercise 2**</font> <br>
Print the lowest and highest number of a list of integers. <br>

In [ ]:
# The .sort() method modifies directly list_ex2
list_ex2.sort()

In [ ]:
print(list_ex2[0])
print(list_ex2[-1]) # use negative indexing to get the last element

3
45

**<font size='4'>Exercise 3**</font> <br>
Write a statement that goes through a list of integers and prints:  
- "Positive" if the number is positive  
- "Zero" if the number is 0
- "Negative" if the number is negative

In [ ]:
for i in list_ex3:
  if i>0:
    print("Positive")
  elif i==0:
    print("Zero")
  else:
    print("Negative")

Negative
Negative
Negative
Zero
Positive
Positive

**<font size='4'>Exercise 4**</font> <br>
Write a statement that prints the odd numbers of a list.

In [ ]:
for i in list_ex4:
  if i%2 != 0: # odd numbers aren't divisible by 2
    print(i)

1
3
7
9

**<font size='4'>Exercise 5**</font> <br>
Write a function that computes the average value of a list.

<u>First method</u>

In [ ]:
# First method
def compute_average1(x):
  avg = sum(x)/len(x)
  return avg

In [ ]:
compute_average1(list_ex5)

17.5

<u>Second method</u>

In [ ]:
# Second method with a lambda function
compute_average2 = lambda x: sum(x)/len(x)

In [ ]:
compute_average2(list_ex5)

17.5

**<font size='4'>Exercice 6**</font> <br>
Write a statement that multiplies by ten each element of a list. <br>

In [ ]:
l = []
for i in list_ex6:
  l.append(i*10)

In [ ]:
l

[100, 1000, 10000, 100000, 1000000]

**<font size='4'>Exercise 7**</font> <br>
Write a function that normalizes an array/list of integers.

In [ ]:
def normalize(array):
  norm = []
  min_value = min(array)
  max_value = max(array)
  for x in array:
    norm.append((x-min_value)/(max_value-min_value))
  return norm

In [ ]:
normalize(list_ex7)

[0.0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0.875, 1.0]

**<font size='4'>Exercise 8**</font> <br>
Write a function that returns the length of each word in a text.

In [ ]:
def length_words(l):
  list_ = []
  for elem in l.split(): # split the string into a list
    list_.append(len(elem)) # get the length of each word
  return list_

In [ ]:
length_words(list_ex8)

[3, 8, 3, 2, 4, 2, 6]

**<font size='4'>Exercise 9**</font> <br>
Write a function that returns the frequency (in percentage) of 0 and 1 in a list <br>

In [ ]:
import collections

In [ ]:
dict_ex = collections.Counter(list_ex9) # collections.Counter() function

In [ ]:
def freq_labels(array):
  dict_array = collections.Counter(array)
  freq1 = 100*dict_array[0]/len(array) # select dict element with key 0
  freq2 = 100*dict_array[1]/len(array)  # select dict element with key 1
  return round(freq1), round(freq2)

In [ ]:
print(freq_labels(list_ex9)[0])
print(freq_labels(list_ex9)[1])

62
38

**<font size='5'>Congrats ! ðŸ¥³ </font><br>
<font size='4'>You have finished the Python Crash Course.**</font> <br>

We hope this notebook helped you learn the basics of Python. <br>

You can now start the **Data Science Crash Course**. <br>
This second course will show you how Python is used in Data Science projects.